* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

::placeholder{
    color: #bababa;
}

.border-bottom {
    border-bottom: 8px solid #232323;
}

.main {
    height: 650px;
    width: 100%;
    background-image: url(images/main-bg.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
    position: relative;
}

/* nav bar */
.navbar {
    width: 100%;
    height: 90px;
    /* background-color: black; */
    position: absolute;
    display: flex;
    /* align-items: center; */
}

.svg-code {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
    margin-top: 24px;
    margin-left: 160px;
}

.empty{
    width: 650px;
}

.lang{
    width: 125px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #5a5958;
    background-color: rgba(0, 0, 0, 0.468);
    /* opacity: 0.9; */
    color: white;
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    align-self: center;
    /* align-items: center;
    justify-content:space-evenly; */
    
}

select{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.85rem;
    font-weight: 700;
}


.lang i{
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
}

.sign-in{
    width: 75px;
    height: 32px;
    background-color: #e50914;
    color: white;
    margin-left: 25px;
    border-radius: 4px;
    font-weight: 700;
    border: none;
    transition: all ease 0.3s;
    cursor: pointer;
    align-self: center;
}

.sign-in:hover{
    background-color: #b5050e;
}

/* .sign-in:focus{
    opacity: 0.5;
} */

/* lines */
.lines{
    width: 1200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 275px;
    left: 70px;
}

.big-line{
    text-align: center;
    font-weight: 900;
    font-size: 43px;
    color: white;
}

.medium-line{
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.small-line{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: white;
}

.email{
    width: 350px;
    height: 56px;
    position: absolute;
    left: 300px;
    margin-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.81);
    border: 1px solid #5a5958;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}

.email:focus{
    outline: 2px solid white;
}

.email-submit{
    width: 204px;
    height: 56px;
    position: absolute;
    left: 700px;
    margin-top: 21px;  background-color: #e50914;
    font-size: 22px;
    color: white;
    border: 1px solid #e50914;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: all ease 0.3s;
}


.email-submit:hover{
    background-color: #b5050e;
    border: 1px solid #b5050e;
    cursor: pointer;
    
}

.email-submit i{
    font-size: 18px;
    margin-left: 12px;
    /* transition: all ease 0.3s; */
}

/* .email-submit:hover i{
    margin-left: 20px;
} */

.headline {
    width: 100%;
    height: 535px;
    background-color: black;
    position: relative;
}

/* headline 1 */

.big-text{
    font-weight: 900;
    font-size: 43px;
    color: white;
}

.small-text{
    /* font-weight: 900; */
    font-size: 24px;
    margin-top: 20px;
    color: white;
}

.text1{
    width: 500px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 150px;
    left: 175px;
}

.animation1{
    width: 500px;
    height: 325px;
    background-color: transparent;
    position: absolute;
    top: 115px;
    left: 750px;
}

.animation1 img{
    width: 548px;
    position: absolute;
    top: -85px;
    left: -72px;
}

/* headline 2 */

.animation2{
    width: 500px;
    height: 385px;
    position: absolute;
    top: 45px;
    left: 150px;
}


.animation2 .download{
    width: 275px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 250px;
    left: 112px;
    border: 2px solid #5a5958;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.animation2 .download h4{
    color: white;
}

.animation2 .download p{
    font-size: 14px;
    color: #0071eb;
}

.animation2 .download i{
    color: #0071eb;
    font-size: 20px;
}

.text2{
    width: 550px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 150px;
    left: 650px;
}

/* headline 3 */

.text3{
    width: 500px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 150px;
    left: 175px;
}

.animation3{
    width: 500px;
    height: 325px;
    background-color: transparent;
    position: absolute;
    top: 115px;
    left: 750px;
}

.animation3 img{
    width: 500px;
    position: absolute;
    top: -50px;
    left: -65px;
}

.animation3 video{
    width: 325px;
    position: absolute;
    top: -5px;
    left: 15px;
}

/* headline 4 */

.text4{
    width: 500px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 150px;
    left: 650px;
}

 .animation4{
    width: 500px;
    height: 385px;
    /* background-color: red;
    position: absolute;
    left: 0px; */
} 

.animation4 img{
    width: 500px;
    position: absolute;
    left: 135px;
    top: 90px;
}

/* faqs */
.faqs {
    width: 100%;
    height: 930px;
    background-color: black;
}

.faqs-title{
    width: 100%;
    height: 65px;
    padding-top: 55px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faqs-box{
    /* width: 100%; */
    width: 1035px;
    height: 560px;
    background-color: transparent;
    padding-left: 157px;
    padding-right: 157px;
    font-size: 24px;
    color: white;
    /* display: block;
    justify-content: center; */

}

.faqs-list{
    width: 1035px;
    height: 85px;
    background-color: #2d2d2d;
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
}

.faqs-list:hover{
    background-color: #414141;
    cursor: pointer;
}

.faqs-list p{
    margin-left: 25px;
}

.faqs-list .plus-icon{
    font-size: 50px;
    position: absolute;
    left: 1135px;
}

.faqs-lines{
    width: 1200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 3560px;
    left: 70px;
}

/* footer */

.foot {
    width: 100%;
    height: 400px;
    background-color: black;
    color: #aaabab;
}


.foot1 p{
    color: #aaabab;
}

.foot1{
    width: 1000px;
    height: 32px;
    /* background-color: red; */
    color: white;
    margin-left: 155px;
    padding-top: 70px;
    display: flex;
}

.foot1 a{
    text-decoration: underline;
    color: #aaabab;;
}


.foot2{
    font-size: 14px;
    width: 1032px;
    height: 135px;
    /* background-color: red; */
    margin-left: 34px;
    display: flex;
    justify-content: space-evenly;
  
}

.foot2 ul a{
    color: #aaabab;
    display: block;
    margin-top: 20px;
}

.foot3{
    position: absolute;
    left: 157px;
    top: 4045px;
}

.foot3 select{
    color: #aaabab;
}

.foot3 i{
    color: #aaabab;
}

.foot4{
    width: 1000px;
    height: 32px;
    /* background-color: red; */
    color: #aaabab;
    margin-left: 158px;
    padding-top: 70px;
    display: flex;
    margin-top: 25px;
    font-size: 14px;
}